body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.navbar-brand {
  padding: 0px;
}
.shop_online .navbar-brand>img {
  height: 100%;
  width: auto;
  display: inline-block;
  vertical-align: bottom;
}
.shop_online .navbar-inverse .navbar-brand {
    color: white;
}
.shop_online .navbar-brand-centered {
    position: absolute;
    top: 0%;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.shop_online .navbar>.container .navbar-brand-centered,
.shop_online .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
    width: 170px;
}
.shop_online .navbar-right {
    margin-right: 0px;
}
.shop_online .navbar-inverse{
    background: #000000;
}
.carousel-inner .item .slide-image {
    width: 100%;
}



.shop_online .footer-bottom .container .pull-right {
    padding-top: 6px;
    padding-right: 30px;
}



.footer {
	background: #0c1a1e;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer p {
	margin: 0;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}

.footer span {
    color: #9d9d9d;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}


.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 9px 4px 0px 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
	background: #000000;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
	color: #9D9D9D;
}


.shop_online .container .footer-bottom pull-right {
    padding-top: 6px;
    padding-right: 30px;
}

.fa.icon-white {
    color: white;
}
.payments {
	font-size: 1.5em;
}