{% load staticfiles %}

<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Book Store</title>

        <!-- Custom CSS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    </head>

    <body>

        <div class="shop_online">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand navbar-brand-centered">
                        <a class="navbar-brand navbar-brand-centered" href="/"><i class="fa fa-book" aria-hidden="true"></i> Lisbon Library</a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-brand-centered">
                    <ul class="nav navbar-nav">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" style="height:50px"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="#">EN</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->

            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">

            {% block content %}
            {% endblock %}


        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer>
            <div class="footer" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                            <h3> About Us </h3>
                            <span>Lisbon Library’s mission is to be the benchmark to discover and share the passion for culture, technology and leisure.</span>
                        </div>
                        <div class="col-lg-1  col-md-1 col-sm-2 col-xs-4"></div>
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                            <h3> Contact </h3>
                            <span>
                                Amoreiras Shopping Center<br>
                                Av. Eng. Duarte Pacheco, s/n, Loja 1129<br>
                                1070-103 Lisboa<br>
                                <br>
                                Phone: +351 213 812 254<br>
                                E-mail: general@lisbonlibrary.pt<br>
                                <br>
                                Open Hours: 10AM to 11PM<br>
                                Monday to Sunday
                            </span>
                        </div>
                        <div class="col-lg-1  col-md-1 col-sm-2 col-xs-4"></div>
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                            <h3> Follow Us </h3>
                            <ul class="social">
                                <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
                                <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                                <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                                <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                                <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </div>
            <!--/.footer-->

            <div class="footer-bottom">
                <div class="container">
                    <p class="pull-left"> Copyright © Footer 2014. All right reserved. </p>
                    <div class="pull-right">
                        <ul class="nav nav-pills payments">
                            <li><i class="fa icon-white fa-cc-visa"></i></li>
                            <li><i class="fa icon-white fa-cc-mastercard"></i></li>
                            <li><i class="fa icon-white fa-cc-amex"></i></li>
                            <li><i class="fa icon-white fa-cc-paypal"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        <!--/.footer-bottom-->
        </footer>

        <!-- jQuery -->
        <script src="{% static 'javascript/jquery.js' %}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'javascript/bootstrap.min.js' %}"></script>


        </div>
    </body>

</html>
